body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7MdoaAWmUAY0_f_50DxAGQbIvfwgkjdabjg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}

#cities{
    display:flex
    flex-wrap: wrap;
    justify-content: center;
}

.form-control{
    display: flex;
    
}


@media screen and (max-width: 768px) {
    header,
    section {
      flex-direction: column;
    }
  }