#weatherContent {
  display: none;
}

.navbar {
  height: 150px !important;
}

#cityDetail,
#uvIndexColor,
li {
  color: #4d4f53 !important;
}

#searchResults,
#cityDetail,
.card {
  background-color: #5a6c73 !important;
}

#searchResults {
  height: 100vh;
}

#fiveDay .card {
  border: 1px solid white !important;
}

#searchHistory li {
  background-color: #97a6a4;
  color: #f8f8ff !important;
}
